<div id = "panel">
	<ul id = "spanel">
		<li class="elemPanel"><a href="/">Головна</a></li>
		<li class="elemPanel"><a href="/generatorRandom">Генератор</a></li>
		
		{{ifUser user}}
		
	</ul>
</div>
<img src="http://localhost/images/gerb.png" id = "gerb"/>

<button onclick="topFunction()" id="myBtn"></button>